/Code/Mine/Magic_Mine.X/nbproject/private/
/Code/Mine/Magic_Mine.X/build/default/
/Code/Mine/Magic_Mine.X/dist/default/
/Code/Mine/MagicMineTesting.X/nbproject/private/
/Code/Mine/MagicMineTesting.X/build/default/
/Code/Mine/MagicMineTesting.X/dist/default/
/Code/Remote/Remote Testing.X/nbproject/private/
/Code/Remote/Remote Testing.X/build/default/
/Code/Remote/Remote Testing.X/dist/default/
/Code/Remote/Remote Testing.X/doc/latex/
/Code/Remote/Remote Testing.X/doc/html/
/Code/Mine/MagicMineTesting.X/doc/html/
/Code/Mine/MagicMineTesting.X/doc/latex/
/Code/Mine/MCU_Prototyping.X/nbproject/private/
/Code/Mine/MCU_Prototyping.X/build/default/
/Code/Mine/MCU_Prototyping.X/dist/default/
/Code/Mine/Tyler Testing.X/nbproject/private/
/Code/Mine/Tyler Testing.X/build/default/
/Code/Mine/MPU6050_Testing.X/nbproject/private/
/Code/Mine/MPU6050_Testing.X/build/default/
/Code/Mine/MPU6050_Testing.X/dist/default/
/Code/Mine/MagicMine_x32.X/nbproject/private/
/Code/Mine/MagicMineTesting.X/build/
/Code/Mine/MagicMineTesting.X/debug/
/Code/Mine/MagicMineTesting.X/dist/