/Code/Mine/Magic_Mine.X/nbproject/private/
/Code/Mine/Magic_Mine.X/build/default/
/Code/Mine/Magic_Mine.X/dist/default/
/Code/Mine/MagicMineTesting.X/build/default/
/Code/Mine/MagicMineTesting.X/dist/default/
/Code/Remote/Remote Testing.X/build/default/
/Code/Remote/Remote Testing.X/dist/default/
/Code/Remote/Remote Testing.X/doc/latex/
/Code/Remote/Remote Testing.X/doc/html/
/Code/Mine/MagicMineTesting.X/doc/html/
/Code/Mine/MagicMineTesting.X/doc/latex/
/Code/Mine/MCU_Prototyping.X/nbproject/private/
/Code/Mine/MCU_Prototyping.X/build/default/
/Code/Mine/MCU_Prototyping.X/dist/default/
/Code/Mine/Tyler Testing.X/nbproject/private/
/Code/Mine/Tyler Testing.X/build/default/
/Code/Mine/MPU6050_Testing.X/nbproject/private/
/Code/Mine/MPU6050_Testing.X/build/default/
/Code/Mine/MPU6050_Testing.X/dist/default/
/Code/Mine/MagicMine_x32.X/nbproject/private/
/Code/Mine/MagicMineTesting.X/build/
/Code/Mine/MagicMineTesting.X/debug/
/Code/Mine/MagicMineTesting.X/dist/
/Code/Remote/Remote Testing.X/build/
/Code/Remote/Remote Testing.X/debug/
/Code/Remote/Remote Testing.X/dist/
Code/Remote/Remote Testing.X/nbproject/Makefile-genesis.properties

Code/Mine/MagicMineTesting.X/nbproject/Makefile-default.mk

Code/Remote/Remote Testing.X/nbproject/Makefile-variables.mk

Code/Mine/MagicMineTesting.X/nbproject/Makefile-default.mk

Code/Mine/MagicMineTesting.X/nbproject/Makefile-genesis.properties

Code/Remote/Remote Testing.X/nbproject/private/configurations.xml

Code/Remote/Remote Testing.X/nbproject/private/private.xml

Code/Remote/Remote Testing.X/nbproject/private/SuppressibleMessageMemo.properties

*.p1

*.p1

*.pre

Code/Mine/MagicMineTesting.X/build/default/production/audio.p1

Code/Mine/MagicMineTesting.X/build/default/production/audio.p1

Code/Mine/MagicMineTesting.X/build/default/production/audio.pre

Code/Mine/MagicMineTesting.X/build/default/production/bt_to_PIU.p1

Code/Mine/MagicMineTesting.X/build/default/production/bt_to_PIU.pre

Code/Mine/MagicMineTesting.X/build/default/production/bt_to_remote.pre

Code/Mine/MagicMineTesting.X/build/default/production/bt_to_remote.p1

Code/Mine/MagicMineTesting.X/build/default/production/ir_tx.p1

Code/Mine/MagicMineTesting.X/build/default/production/ir_tx.pre

Code/Mine/MagicMineTesting.X/build/default/production/main.p1

Code/Mine/MagicMineTesting.X/build/default/production/main.p1.d

Code/Mine/MagicMineTesting.X/build/default/production/main.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/ccp4.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/ccp4.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/eusart1.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/eusart2.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/eusart1.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/eusart2.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/i2c2.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/i2c2.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/interrupt_manager.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/interrupt_manager.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/mcc.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/mcc.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/pin_manager.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/pin_manager.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/spi1.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/spi1.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/pwm5.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/pwm5.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr1.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr1.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr2.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr2.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr3.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr3.pre

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr4.p1

Code/Mine/MagicMineTesting.X/build/default/production/util_functions.p1

Code/Mine/MagicMineTesting.X/build/default/production/mcc_generated_files/tmr4.pre

Code/Mine/MagicMineTesting.X/build/default/production/util_functions.pre

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.cmf

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.elf

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.hex

*.hxl

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.hxl

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.lst

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.map

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.mum

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.sdb

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.rlf

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.obj

Code/Mine/MagicMineTesting.X/dist/default/production/MagicMineTesting.X.production.sym

Code/Mine/MagicMineTesting.X/dist/default/production/memoryfile.xml

Code/Mine/MagicMineTesting.X/main.c

Code/Mine/MagicMineTesting.X/nbproject/Makefile-genesis.properties


Code/Mine/MagicMineTesting.X/nbproject/private/configurations.xml